@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --font-raleway: 'Raleway', 'sans-serif';
    --font-libre: "Libre Baskerville", serif;
    --font-dancing: "Dancing Script", cursive;
    --font-greatvibes: "Great Vibes", cursive;
    --font-fredoka: "Fredoka", cursive;
    --font-garamond: "EB Garamond", serif;
    
    --breakpoint-w-1250: 1250px;

    --color-primary: #E9644E;
    --color-beige: #f9f6f6;
    --color-gray: #595959;
    --color-grayLight: #eeedeb;

    --font-weight-600: 600;
    --font-weight-500: 500;
}

body {
  font-family: Raleway, sans-serif;
}